<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-6 mt-4 mb-4" style="height: calc(100% - 66px);" [class.mobile-hide]="selectedRecipe != null">
      <div class="card h-100">
        <div class="card-header"><h3>Craftable items</h3></div>
        <div class="card-body" style="height: calc(100% - 66px);">
          <div class="row h-100">
            <div class="form-group col-md-12">
              <label class="form-control-label">Search</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter search text" [(ngModel)]="term" (keyup)="refresh('', term)" autofocus>
                <span class="input-group-append">
                        <i class="fa fa-times input-group-text" (click)="clear()"></i>
                      </span>
              </div>
            </div>
            <div class="form-group col-md-12" style="height: calc(100% - 80px);">
                <div class="content h-100" style="overflow-y: auto">
                  <table class="table table-sm table-hover">
                    <thead>
                      <tr>
                        <th>Item</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of results" (click)="view(item.name)" [class.selected]="item == selectedRecipe">
                        <td>{{item.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mt-4" *ngIf="selectedRecipe != null">
        <div class="card-header"><h3>Recipe <button class="btn pull-right mobile-show" (click)="clear()">Search</button></h3></div>
        <div class="card-body">
          <div class="row">

            <div class="form-group col-md-12">
              <label class="form-control-label">Name</label>
              <input type="text" class="form-control" value="{{selectedRecipe.name}}" readonly>
            </div>

            <div class="form-group col-md-12" *ngIf="needsNearby()">
              <label class="form-control-label">Nearby</label>
              <div>
                <button class="btn btn-info mb-2" *ngIf="selectedRecipe.interactionGrp" (click)="view(selectedRecipe.interactionGrp)">{{selectedRecipe.interactionGrp}}</button>
                <button class="btn btn-info mb-2" *ngIf="selectedRecipe.requiresConcreteMixer" (click)="view('Concrete Mixer')">Concrete mixer</button>
                <button class="btn btn-info mb-2" *ngIf="selectedRecipe.requiresFire">Fire</button>
                <button class="btn btn-info mb-2" *ngIf="selectedRecipe.requiresOcean">Ocean</button>
              </div>
            </div>

            <div class="form-group col-md-12" *ngIf="selectedRecipe.tools.length > 0">
              <label class="form-control-label">Tools</label>
              <div>
                <ng-container *ngFor="let item of selectedRecipe.tools">
                  <button class="btn btn-primary mb-2">{{item}}</button>
                </ng-container>
              </div>
            </div>

            <div class="form-group col-md-12" *ngIf="selectedRecipe.components.length > 0">
              <label class="form-control-label">Components</label>
              <div>
                <ng-container *ngFor="let item of selectedRecipe.components">
                  <button class="btn btn-danger mb-2" (click)="view('returns:'+item.name)">{{item.name}} <span class="badge badge-light">{{item.quantity}}</span></button>
                </ng-container>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label class="form-control-label">Primary item</label>
              <div>
                <button class="btn btn-success mb-2">{{selectedRecipe.primaryItem.name}} <span class="badge badge-light">{{selectedRecipe.primaryItem.quantity}}</span></button>
              </div>
            </div>

            <div class="form-group col-md-12" *ngIf="selectedRecipe.returnedItems.length > 0">
              <label class="form-control-label">Returned items</label>
              <div>
                <ng-container *ngFor="let item of selectedRecipe.returnedItems">
                  <button class="btn btn-warning mb-2">{{item.name}} <span class="badge badge-light">{{item.quantity}}</span></button>
                </ng-container>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

